<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            text-align: center;
            padding-top: 100px;

        }
        .btn{
            display: inline-block;
            padding: 15px 30px;
            margin: 10px;
            color: white;
            border-radius: 5px;  
        }
        .btn-register {
            background-color: #28a745;
        }
        .btn-login {
            background-color: #007bff;
        }
    </style>
</head>
<body>
    <h1>Welcome</h1>
    <p>choose to login or register!</p>
    <a href="{% url 'register' %}" class="btn btn-register">Register</a>
    <a href="{% url 'login' %}" class="btn btn-login">Login</a>
</body>
</html>